---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/cellect/workflows
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84adf683d79c8d0b56dc3efd26b8efea"
    body:
      encoding: UTF-8
      string: '{"workflows":[{"id":985,"pairwise":false,"prioritized":false,"grouped":false},{"id":987,"pairwise":false,"prioritized":false,"grouped":false},{"id":988,"pairwise":false,"prioritized":false,"grouped":false},{"id":1201,"pairwise":false,"prioritized":false,"grouped":false},{"id":981,"pairwise":false,"prioritized":false,"grouped":false},{"id":590,"pairwise":false,"prioritized":false,"grouped":false},{"id":1095,"pairwise":false,"prioritized":false,"grouped":false},{"id":649,"pairwise":false,"prioritized":false,"grouped":false},{"id":1055,"pairwise":false,"prioritized":f[...]
