---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/projects?search=galaxy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - '"9b8a7279ccb2c518f42e487f2b4410ed"'
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":"505","display_name":"Galaxy Zoo","classifications_count":0,"subjects_count":0,"created_at":"2015-05-18T15:14:32.322Z","updated_at":"2015-12-10T16:33:56.000Z","available_languages":["en"],"title":"Galaxy
        Zoo","description":"Galaxy Zoo","introduction":null,"private":false,"retired_subjects_count":0,"configuration":{"redirect":"http://galaxyzoo.org","legacy_attributes":{"token":"hubble","credit":"NASA/ESA","status":"active","category":"space","partners":"Sloan
        Digital Sky Survey, Johns Hopkins University, Yale, University of Portsmouth","released":"2010-04-17T00:00:00.000Z"},"zoo_home_project_id":1},"live":false,"urls":[],"migrated":true,"classifiers_count":126129,"slug":"zooniverse/galaxy-zoo","redirect":"http://galaxyzoo.org","beta_requested":false,"beta_approved":false,"launch_requested":false,"launch_approved":true,"launch_date":null,"href":"/projects/505","workflow_description":"","primary_language":"en","tags":[],"experimental_tools":[],"completeness":null,"activity":0,"links":{"owner":{"id":"1","type":"users","href":"/users/1"},"project_contents":["505"],"project_roles":["684"],"pages":["2020","2019","2018","2017"],"avatar":{"href":"/projects/505/avatar","type":"avatars"},"background":{"href":"/projects/505/background","type":"backgrounds"},"attached_images":{"href":"/projects/505/attached_images","type":"attached_images"},"classifications_export":{"href":"/projects/505/classifications_export","type":"classifications_exports"},"subjects_export":{"href":"/projects/505/subjects_export","type":"subjects_exports"},"aggregations_export":{"href":"/projects/505/aggregations_export","type":"aggregations_exports"}}},{"id":"258","display_name":"Galaxy
        Zoo: 3D","classifications_count":116,"subjects_count":81,"created_at":"2015-04-15T15:41:45.574Z","updated_at":"2015-12-10T16:33:56.000Z","available_languages":["en"],"title":"Galaxy
        Zoo: 3D","description":"Detailed morphology of galaxies which are being observed
        by MaNGA.","introduction":"We need your help to classify the internal structures
        of galaxies which are going to be observed by the MaNGA survey. MaNGA (\"Mapping
        Nearby Galaxies at Apache Point Observatory\") will be taking hundreds of
        spectra of each of these galaxies and with your help we can understand what
        structures in the galaxies the spectra come from.","private":false,"retired_subjects_count":0,"configuration":null,"live":false,"urls":[],"migrated":false,"classifiers_count":3,"slug":"klmasters-panoptes/galaxy-zoo-3d","redirect":null,"beta_requested":false,"beta_approved":false,"launch_requested":false,"launch_approved":true,"launch_date":null,"href":"/projects/258","workflow_description":"","primary_language":"en","tags":[],"experimental_tools":[],"completeness":0.258928571428571,"activity":0,"links":{"workflows":["648"],"subject_sets":["1230","2955","1281"],"owner":{"id":"1856","type":"users","href":"/users/1856"},"project_contents":["258"],"project_roles":["603","330","369"],"pages":["1032","1031","1030","1029"],"avatar":{"href":"/projects/258/avatar","type":"avatars"},"background":{"href":"/projects/258/background","type":"backgrounds"},"attached_images":{"href":"/projects/258/attached_images","type":"attached_images"},"classifications_export":{"href":"/projects/258/classifications_export","type":"classifications_exports"},[...]
