---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/memberships
    body:
      encoding: UTF-8
      string: '{"memberships":{"join_token":"14b9c70f23f91cc7","links":{"user":"1323869","user_group":"1325971"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Mon, 29 Feb 2016 16:32:26 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/memberships/1325972
    body:
      encoding: UTF-8
      string: '{"memberships":[{"id":"1325972","state":"active","href":"/memberships/1325972","links":{"user":"1323869","user_group":"1325971"}}],"links":{"memberships.user":{"href":"/users/{memberships.user}","type":"users"},"memberships.user_group":{"href":"/user_groups/{memberships.user_group}","type":"user_groups"}},"meta":{"memberships":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/memberships","previous_href":null,"next_href":null,"last_href":"/memberships"}}}'
  recorded_at: Mon, 29 Feb 2016 16:32:32 GMT
recorded_with: VCR 3.0.1
