---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/user_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - '"ed76de280e75d99d057010c33e7536b9"'
    body:
      encoding: UTF-8
      string: '{"user_groups":[{"id":"1325971","name":"panoptes-client-rb-test-group","display_name":"panoptes-client-rb-test-group","classifications_count":0,"created_at":"2016-02-29T16:29:49.103Z","updated_at":"2016-02-29T16:29:49.103Z","type":"user_groups","href":"/user_groups/1325971","links":{"memberships":["1325972","1325971"],"users":["1323869","1323869"]}}],"links":{"user_groups.memberships":{"href":"/memberships?user_group_id={user_groups.id}","type":"memberships"},"user_groups.users":{"href":"/users?user_group_id={user_groups.id}","type":"users"},"user_groups.projects":{"href":"/projects?owner={user_groups.name}","type":"projects"},"user_groups.collections":{"href":"/collections?owner={user_groups.name}","type":"collections"},"user_groups.recents":{"href":"/user_groups/{user_groups.id}/recents","type":"recents"}},"meta":{"user_groups":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/user_groups","previous_href":null,"next_href":null,"last_href":"/user_groups"}}}'
  recorded_at: Mon, 29 Feb 2016 16:37:19 GMT
recorded_with: VCR 3.0.1
