---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/project_preferences?project_id=1710&user_id=1325801
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:

      Cache-Control:
      - no-cache
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Date:
      - Mon, 22 Jan 2018 23:05:54 GMT
      Etag:
      - W/"95c26902b42dadd077e7c55534603da1"
      P3p:
      - CP="NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM"
      Server:
      - nginx/1.10.3 (Ubuntu)
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains
      Vary:
      - Origin
      X-Cache-Status:
      - MISS
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - SAMEORIGIN
      X-Request-Id:
      - e324e9b6-71a5-4910-bf6d-c7fe7fab2971
      X-Runtime:
      - '0.049480'
      X-Xss-Protection:
      - 1; mode=block
      Content-Length:
      - '459'
      Connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: '{"project_preferences":[{"id":"655348","email_communication":null,"preferences":{"tutorials_completed_at":{"142":"2017-11-07T17:30:18.449Z"}},"href":"/project_preferences/655348","activity_count":0,"activity_count_by_workflow":{},"settings":{},"created_at":"2017-11-07T17:30:14.271Z","updated_at":"2017-11-07T17:30:18.635Z","links":{"user":"1325801","project":"1710"}}],"links":{"project_preferences.user":{"href":"/users/{project_preferences.user}","type":"users"},"project_preferences.project":{"href":"/projects/{project_preferences.project}","type":"projects"}},"meta":{"project_preferences":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/project_preferences?project_id=1710\u0026user_id=1325801","previous_href":null,"next_href":null,"last_href":"/project_preferences?project_id=1710\u0026user_id=1325801"}}}'
  recorded_at: Tue, 23 Jan 2018 21:18:00 GMT
recorded_with: VCR 3.0.3

