---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/workflows
    body:
      encoding: UTF-8
      string: '{"workflows":{"display_name":"panoptes-client.rb test","primary_language":"en","first_task":"init","tasks":{"T1":{"help":"","type":"single","answers":[{"next":"T2","label":"Yes"},{"label":"No"}],"question":"Would
        you like to draw something?","required":true},"T2":{"help":"","type":"drawing","tools":[],"instruction":"Explain
        what to draw."},"init":{"type":"single","answers":[{"label":"Yes"}],"question":"Is
        this a question?"}},"links":{"project":813}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Wed, 15 Jun 2016 08:37:18 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/workflows/2402
    body:
      encoding: UTF-8
      string: '{"workflows":[{"id":"2402","display_name":"panoptes-client.rb test","tasks":{"T1":{"help":"","type":"single","answers":[{"next":"T2","label":"Yes"},{"label":"No"}],"question":"Would
        you like to draw something?","required":true},"T2":{"help":"","type":"drawing","tools":[],"instruction":"Explain
        what to draw."},"init":{"type":"single","answers":[{"label":"Yes"}],"question":"Is
        this a question?"}},"classifications_count":0,"subjects_count":0,"created_at":"2016-06-15T08:37:18.283Z","updated_at":"2016-06-15T08:37:18.283Z","finished_at":null,"first_task":"init","primary_language":"en","version":"1.1","content_language":"en","prioritized":false,"grouped":false,"pairwise":false,"retirement":{"criteria":"classification_count","options":{"count":15}},"retired_set_member_subjects_count":0,"href":"/workflows/2402","active":true,"aggregation":{},"configuration":{},"public_gold_standard":false,"completeness":0.0,"links":{"project":"813","attached_images":{"href":"/workflows/2402/attached_images","type":"attached_images"}}}],"links":{"workflows.project":{"href":"/projects/{workflows.project}","type":"projects"},"workflows.subject_sets":{"href":"/subject_sets?workflow_id={workflows.id}","type":"subject_sets"},"workflows.tutorial_subject":{"href":"/subjects/{workflows.tutorial_subject}","type":"tutorial_subjects"},"workflows.attached_images":{"href":"/workflows/{workflows.id}/attached_images","type":"media"},"workflows.expert_subject_set":{"href":"/subject_sets?workflow_id={workflows.id}","type":"expert_subject_sets"}},"meta":{"workflows":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/workflows","previous_href":null,"next_href":null,"last_href":"/workflows"}}}'
  recorded_at: Wed, 15 Jun 2016 08:37:18 GMT
recorded_with: VCR 3.0.1
