---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/subject_sets
    body:
      encoding: UTF-8
      string: '{"subject_sets":{"display_name":"panoptes-client.rb 1465992776","links":{"project":813,"subjects":[11932]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Wed, 15 Jun 2016 12:12:57 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/subject_sets/3769
    body:
      encoding: UTF-8
      string: '{"subject_sets":[{"id":"3769","display_name":"panoptes-client.rb 1465992776","set_member_subjects_count":0,"metadata":{},"created_at":"2016-06-15T12:12:57.292Z","updated_at":"2016-06-15T12:12:57.292Z","href":"/subject_sets/3769","links":{"project":"813"}}],"links":{"subject_sets.project":{"href":"/projects/{subject_sets.project}","type":"projects"},"subject_sets.workflows":{"href":"/workflows?subject_set_id={subject_sets.id}","type":"workflows"}},"meta":{"subject_sets":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subject_sets","previous_href":null,"next_href":null,"last_href":"/subject_sets"}}}'
  recorded_at: Wed, 15 Jun 2016 12:12:57 GMT
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/subject_sets/3769
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - '"23210b59a577ce5eda67b486f2551540"'
    body:
      encoding: UTF-8
      string: '{"subject_sets":[{"id":"3769","display_name":"panoptes-client.rb 1465992776","set_member_subjects_count":0,"metadata":{},"created_at":"2016-06-15T12:12:57.292Z","updated_at":"2016-06-15T12:12:57.292Z","href":"/subject_sets/3769","links":{"project":"813"}}],"links":{"subject_sets.project":{"href":"/projects/{subject_sets.project}","type":"projects"},"subject_sets.workflows":{"href":"/workflows?subject_set_id={subject_sets.id}","type":"workflows"}},"meta":{"subject_sets":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subject_sets?id=3769","previous_href":null,"next_href":null,"last_href":"/subject_sets?id=3769"}}}'
  recorded_at: Wed, 15 Jun 2016 12:12:58 GMT
- request:
    method: put
    uri: https://panoptes-staging.zooniverse.org/api/subject_sets/3769
    body:
      encoding: UTF-8
      string: '{"subject_sets":{"links":{"subjects":[3156]}}}'
    headers:
      If-Match:
      - '"23210b59a577ce5eda67b486f2551540"'
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Wed, 15 Jun 2016 12:12:57 GMT
    body:
      encoding: UTF-8
      string: '{"subject_sets":[{"id":"3769","display_name":"panoptes-client.rb 1465992776","set_member_subjects_count":-1,"metadata":{},"created_at":"2016-06-15T12:12:57.292Z","updated_at":"2016-06-15T12:12:57.292Z","href":"/subject_sets/3769","links":{"project":"813"}}],"links":{"subject_sets.project":{"href":"/projects/{subject_sets.project}","type":"projects"},"subject_sets.workflows":{"href":"/workflows?subject_set_id={subject_sets.id}","type":"workflows"}},"meta":{"subject_sets":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subject_sets","previous_href":null,"next_href":null,"last_href":"/subject_sets"}}}'
  recorded_at: Wed, 15 Jun 2016 12:12:58 GMT
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/subjects?subject_set_id=3769
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - '"3f69795e6f793e020d9ca1174aefef2f"'
    body:
      encoding: UTF-8
      string: '{"subjects":[{"id":"3156","metadata":{"Filename":"800px-Catrinas_2.jpg"},"locations":[{"image/jpeg":"https://panoptes-uploads.zooniverse.org/231/0/d96c3f10-a065-45fb-94fa-2617ae37ca13.jpeg"}],"zooniverse_id":null,"created_at":"2015-04-13T15:07:40.177Z","updated_at":"2015-04-13T15:07:40.177Z","href":"/subjects/3156","links":{"project":"231","collections":["110","10","22","109"]}}],"links":{"subjects.project":{"href":"/projects/{subjects.project}","type":"projects"},"subjects.collections":{"href":"/collections?subject_id={subjects.id}","type":"collections"}},"meta":{"subjects":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subjects","previous_href":null,"next_href":null,"last_href":"/subjects"}}}'
  recorded_at: Wed, 15 Jun 2016 12:12:59 GMT
recorded_with: VCR 3.0.1
