---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/subject_sets/2376
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - '"190792a0e42df8e36d1cd38ab0bf6e21"'
    body:
      encoding: UTF-8
      string: '{"subject_sets":[{"id":"2376","display_name":"Some ghosts","set_member_subjects_count":8,"metadata":null,"created_at":"2015-06-29T14:01:25.541Z","updated_at":"2015-06-29T14:01:25.647Z","href":"/subject_sets/2376","links":{"project":"813","workflows":["1364"]}}],"links":{"subject_sets.project":{"href":"/projects/{subject_sets.project}","type":"projects"},"subject_sets.workflows":{"href":"/workflows?subject_set_id={subject_sets.id}","type":"workflows"}},"meta":{"subject_sets":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subject_sets?id=2376","previous_href":null,"next_href":null,"last_href":"/subject_sets?id=2376"}}}'
  recorded_at: Wed, 15 Jun 2016 11:38:04 GMT
recorded_with: VCR 3.0.1
