---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/projects/813/aggregations_export
    body:
      encoding: UTF-8
      string: '{"media":{"content_type":"application/x-gzip","metadata":{"recipients":[]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Tue, 08 Mar 2016 14:56:01 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/projects/813/aggregations_export
    body:
      encoding: UTF-8
      string: '{"media":[{"id":"46502","href":"/projects/813/aggregations_export","src":"https://panoptes-uploads.zooniverse.org/staging/project_aggregations_export/a9253cfd-813b-4380-87cd-72a706ff1544.tar.gz","content_type":"application/x-gzip","media_type":"project_aggregations_export","external_link":false,"created_at":"2016-03-08T14:56:01.623Z","metadata":{"state":"creating","recipients":[]},"updated_at":"2016-03-08T14:56:01.623Z","links":{"linked":{"href":"/projects/813","id":"813","type":"projects"}}}],"meta":{"media":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/media","previous_href":null,"next_href":null,"last_href":"/media"}}}'
  recorded_at: Tue, 08 Mar 2016 14:56:03 GMT
recorded_with: VCR 3.0.1
