---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Mon, 30 Nov 2015 14:17:50 GMT
    body:
      encoding: UTF-8
      string: '{"users":[{"id":"1323869","login":"martenzooniverse","display_name":"martenzooniverse","credited_name":"Marten
        Veldthuis","email":"marten@zooniverse.org","created_at":"2015-06-26T13:41:47.956Z","updated_at":"2015-11-30T14:17:50.010Z","type":"users","global_email_communication":false,"project_email_communication":null,"beta_email_communication":false,"max_subjects":100,"uploaded_subjects_count":0,"admin":true,"href":"/users/1323869","login_prompt":false,"private_profile":true,"links":{}}],"links":{"users.classifications":{"href":"/classifications?user_id={users.id}","type":"classifications"},"users.project_preferences":{"href":"/project_preferences?user_id={users.id}","type":"project_preferences"},"users.collection_preferences":{"href":"/collection_preferences?user_id={users.id}","type":"collection_preferences"},"users.projects":{"href":"/projects?owner={users.login}","type":"projects"},"users.collections":{"href":"/collections?owner={users.login}","type":"collections"},"users.recents":{"href":"/users/{users.id}/recents","type":"recents"},"users.avatar":{"href":"/users/{users.id}/avatar","type":"media"},"users.profile_header":{"href":"/users/{users.id}/profile_header","type":"media"}},"meta":{"users":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/users","previous_href":null,"next_href":null,"last_href":"/users"}}}'
  recorded_at: Mon, 29 Feb 2016 16:18:43 GMT
recorded_with: VCR 3.0.1
