---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26eb7c0f048e59c745952455d9a4506f"
    body:
      encoding: UTF-8
      string: '{"access_token":"6844276bdd6e6c70781d5be5a2537f4e51443b3644b2a651889cb4e4dedcdf51","token_type":"bearer","expires_in":7200,"scope":"user
        project group collection classification subject medium public","created_at":1462968936}'
  recorded_at: Wed, 11 May 2016 12:15:36 GMT
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/workflows/688/retired_subjects
    body:
      encoding: UTF-8
      string: '{"admin":true,"subject_id":11937,"retirement_reason":"other"}'
    headers:
      Authorization:
      - Bearer 6844276bdd6e6c70781d5be5a2537f4e51443b3644b2a651889cb4e4dedcdf51
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 May 2016 12:15:37 GMT
recorded_with: VCR 3.0.1
