---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/projects/813/classifications_export
    body:
      encoding: UTF-8
      string: '{"media":{"content_type":"text/csv","metadata":{"recipients":[]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Tue, 08 Mar 2016 14:33:25 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/projects/813/classifications_export
    body:
      encoding: UTF-8
      string: '{"media":[{"id":"38663","href":"/projects/813/classifications_export","src":"https://zooniverse-static.s3.amazonaws.com/panoptes-uploads.zooniverse.org/staging/project_classifications_export/9c610961-b313-4913-9b16-f3a8b3746ea6.csv?AWSAccessKeyId=AKIAJ7CH25FJAJXZNYMA\u0026Expires=1457451205\u0026Signature=pQjLY7cPGCD362zdZbP88EgW2Uw%3D","content_type":"text/csv","media_type":"project_classifications_export","external_link":false,"created_at":"2015-07-15T08:10:39.919Z","metadata":{"recipients":[]},"updated_at":"2016-03-08T14:33:25.640Z","links":{"linked":{"href":"/projects/813","id":"813","type":"projects"}}}],"meta":{"media":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/media","previous_href":null,"next_href":null,"last_href":"/media"}}}'
  recorded_at: Tue, 08 Mar 2016 14:33:27 GMT
recorded_with: VCR 3.0.1
