---
http_interactions:
- request:
    method: post
    uri: https://panoptes-staging.zooniverse.org/api/subject_sets
    body:
      encoding: UTF-8
      string: '{"subject_sets":{"display_name":"panoptes-client.rb test","links":{"project":813}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Last-Modified:
      - Wed, 15 Jun 2016 11:38:04 GMT
      Location:
      - https://panoptes-staging.zooniverse.org/api/subject_sets/3760
    body:
      encoding: UTF-8
      string: '{"subject_sets":[{"id":"3760","display_name":"panoptes-client.rb test","set_member_subjects_count":0,"metadata":{},"created_at":"2016-06-15T11:38:04.795Z","updated_at":"2016-06-15T11:38:04.795Z","href":"/subject_sets/3760","links":{"project":"813"}}],"links":{"subject_sets.project":{"href":"/projects/{subject_sets.project}","type":"projects"},"subject_sets.workflows":{"href":"/workflows?subject_set_id={subject_sets.id}","type":"workflows"}},"meta":{"subject_sets":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/subject_sets","previous_href":null,"next_href":null,"last_href":"/subject_sets"}}}'
  recorded_at: Wed, 15 Jun 2016 11:38:04 GMT
recorded_with: VCR 3.0.1
