---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/classifications/project?admin=true&user_id=1325464&workflow_id=2218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Www-Authenticate:
      - Bearer realm="Panoptes", error="invalid_token", error_description="The access
        token is invalid"
    body:
      encoding: UTF-8
      string: '{"classifications":[{"id":"88262","annotations":[{"task":"T1","value":[{"0":0,"x":541.7737426757812,"tool":0,"frame":0,"width":80.36077880859375,"details":[]}]}],"created_at":"2017-10-02T16:17:11.623Z","updated_at":"2017-10-02T16:17:11.675Z","metadata":{"session":"02d06de439a56dadbb553e95e96fcd40c44831f39e33e95c999f6e9577fd77ba","viewport":{"width":1067,"height":1006},"started_at":"2017-10-02T16:16:45.225Z","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36","utc_offset":"18000","finished_at":"2017-10-02T16:17:11.535Z","live_project":false,"user_language":"en","user_group_ids":[],"subject_dimensions":[{"clientWidth":444,"clientHeight":333,"naturalWidth":1152,"naturalHeight":864}],"workflow_version":"12.10"},"href":"/classifications/88262","links":{"project":"1315","user":"1325464","workflow":"2218","subjects":["72880"]}},{"id":"88912","annotations":[{"task":"T1","value":[{"0":0,"x":339.3038635253906,"tool":0,"frame":0,"width":27.089263916015625,"details":[]}]}],"created_at":"2017-11-16T18:18:42.232Z","updated_at":"2017-11-16T18:18:42.283Z","metadata":{"session":"ead2e178a8448cd23e3da7cb176e028696ff8d5d0a921c7fc60343e33e4a5ff0","viewport":{"width":1680,"height":976},"started_at":"2017-11-16T18:18:37.364Z","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36","utc_offset":"21600","finished_at":"2017-11-16T18:18:42.101Z","live_project":false,"user_language":"en","user_group_ids":[],"subject_dimensions":[{"clientWidth":1021,"clientHeight":765,"naturalWidth":1152,"naturalHeight":864}],"workflow_version":"12.10"},"href":"/classifications/88912","links":{"project":"1315","user":"1325464","workflow":"2218","subjects":["72848"]}}],"links":{"classifications.project":{"href":"/projects/{classifications.project}","type":"projects"},"classifications.user":{"href":"/users/{classifications.user}","type":"users"},"classifications.user_group":{"href":"/user_groups/{classifications.user_group}","type":"user_groups"},"classifications.workflow":{"href":"/workflows/{classifications.workflow}","type":"workflows"},"classifications.subjects":{"type":"subjects","href":"/subjects/{classifications.subjects}"}},"meta":{"classifications":{"page":1,"page_size":20,"count":0,"include":[],"page_count":0,"previous_page":0,"next_page":2,"first_href":"/classifications/project?user_id=1325464\u0026workflow_id=2218","previous_href":"/classifications/project?page=0\u0026user_id=1325464\u0026workflow_id=2218","next_href":null,"last_href":"/classifications/project?page=0\u0026user_id=1325464\u0026workflow_id=2218"}}}'
  recorded_at: Wed, 08 Feb 2017 10:22:31 GMT
recorded_with: VCR 3.0.3
