---
http_interactions:
- request:
    method: get
    uri: https://panoptes-staging.zooniverse.org/api/users/1325801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; version=1; charset=utf-8
      Etag:
      - W/"95c26902b42dadd077e7c55534603da1"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":"1325801","login":"zootester1","display_name":"zootester1","created_at":"2016-03-24T16:22:20.959Z","updated_at":"2018-01-22T21:28:22.553Z","type":"users","href":"/users/1325801","private_profile":true,"zooniverse_id":"panoptes-1325801","avatar_src":null,"links":{}}],"links":{"users.classifications":{"href":"/classifications?user_id={users.id}","type":"classifications"},"users.project_preferences":{"href":"/project_preferences?user_id={users.id}","type":"project_preferences"},"users.collection_preferences":{"href":"/collection_preferences?user_id={users.id}","type":"collection_preferences"},"users.projects":{"href":"/projects?owner={users.login}","type":"projects"},"users.collections":{"href":"/collections?owner={users.login}","type":"collections"},"users.recents":{"href":"/users/{users.id}/recents","type":"recents"},"users.avatar":{"href":"/users/{users.id}/avatar","type":"media"},"users.profile_header":{"href":"/users/{users.id}/profile_header","type":"media"}},"meta":{"users":{"page":1,"page_size":20,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/users?id=1325801","previous_href":null,"next_href":null,"last_href":"/users?id=1325801"}}}'
  recorded_at: Mon, 22 Jan 2018 23:05:54 GMT
recorded_with: VCR 3.0.3
