---
http_interactions:
- request:
    method: post
    uri: https://talk-staging.zooniverse.org/comments
    body:
      encoding: UTF-8
      string: '{"comments":{"discussion_id":165,"body":"Hello from panoptes-client.rb
        1470146174","user_id":1323869}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9dd2931c3bcad0b8deceae0b0686e1ee"
    body:
      encoding: UTF-8
      string: '{"comments":[{"href":"/comments/1027","links":{},"board_id":"38","body":"Hello
        from panoptes-client.rb 1470146174","category":null,"created_at":"2016-08-02T13:56:15.322Z","discussion_id":"165","focus_id":"","focus_type":null,"group_mentioning":{},"id":"1027","is_deleted":false,"mentioning":{},"project_id":"","reply_id":"","section":"zooniverse","tagging":{},"updated_at":"2016-08-02T13:56:15.322Z","upvotes":{},"user_id":"1323869","user_login":"martenzooniverse","versions":[],"reply_user_id":null,"reply_user_login":null,"reply_user_display_name":null,"discussion_comments_count":15,"discussion_subject_default":false,"discussion_title":"Title
        Test","discussion_updated_at":"2016-08-02T13:56:15.452Z","discussion_users_count":2,"discussion_focus_id":"","discussion_focus_type":null,"discussion_locked":false,"board_comments_count":101,"board_description":"Chat
        with the zooniverse","board_discussions_count":15,"board_parent_id":"","board_subject_default":false,"board_title":"Chat","board_users_count":14,"board_permissions":{"read":"all","write":"all"},"project_slug":null,"moderatable_actions":["report"],"user_display_name":"martenzooniverse"}],"meta":{"comments":{"page":1,"page_size":10,"count":1,"include":[],"page_count":1,"previous_page":null,"next_page":null,"first_href":"/comments?board_id=38\u0026discussion_id=165\u0026id=1027\u0026section=zooniverse\u0026user_id=1323869","previous_href":null,"next_href":null,"last_href":"/comments?board_id=38\u0026discussion_id=165\u0026id=1027\u0026section=zooniverse\u0026user_id=1323869","current_sort":"","default_sort":"created_at","sortable_attributes":["created_at"]}}}'
  recorded_at: Tue, 02 Aug 2016 13:56:15 GMT
recorded_with: VCR 3.0.1
