---
http_interactions:
- request:
    method: get
    uri: https://talk-staging.zooniverse.org/discussions?focus_id=35472&focus_type=Subject
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3fe4aa5ea97c18255291a280fa87a9a"
    body:
      encoding: UTF-8
      string: '{"discussions":[{"href":"/discussions/55","links":{},"board_id":"42","comments_count":12,"created_at":"2015-06-26T05:33:47.295Z","focus_id":"35472","focus_type":"Subject","id":"55","last_comment_created_at":"2015-12-14T15:49:33.021Z","locked":false,"project_id":"604","section":"project-604","sticky":false,"sticky_position":null,"subject_default":true,"title":"Subject
        35472","updated_at":"2015-12-14T15:49:33.100Z","user_id":"1323827","user_login":"chrissnyder-panoptes","users_count":4,"latest_comment":{"href":"/comments/700","links":{},"board_id":"42","body":"hello","category":null,"created_at":"2015-12-14T15:49:33.021Z","discussion_id":"55","focus_id":"35472","focus_type":"Subject","group_mentioning":{},"id":"700","is_deleted":false,"mentioning":{},"project_id":"604","reply_id":"","section":"project-604","tagging":{},"updated_at":"2015-12-14T15:49:33.021Z","upvotes":{},"user_id":"288433","user_login":"alex-panoptes","versions":[],"reply_user_id":null,"reply_user_login":null,"reply_user_display_name":null,"discussion_comments_count":12,"discussion_subject_default":true,"discussion_title":"Subject
        35472","discussion_updated_at":"2015-12-14T15:49:33.100Z","discussion_users_count":4,"discussion_focus_id":"35472","discussion_focus_type":"Subject","discussion_locked":false,"board_comments_count":82,"board_description":"General
        comment threads about individual subjects","board_discussions_count":4,"board_parent_id":"","board_subject_default":true,"board_title":"Notes","board_users_count":8,"board_permissions":{"read":"all","write":"all"},"project_slug":"alex-panoptes/test-proj","moderatable_actions":[],"user_display_name":"alex-panoptes"},"project_slug":"alex-panoptes/test-proj","board_comments_count":82,"board_description":"General
        comment threads about individual subjects","board_discussions_count":4,"board_parent_id":"","board_subject_default":true,"board_title":"Notes","board_users_count":8,"board_permissions":{"read":"all","write":"all"},"moderatable_actions":[],"user_display_name":"chrissnyder-ouroboros"},{"href":"/discussions/134","links":{},"board_id":"21","comments_count":1,"created_at":"2015-12-[...]
